<h1>PhD or Post-Doc position in France</h1>

<h2><strong>Title:</strong>  Protocols for D2D, M2M, and IoT in Next Generation Wireless Networks </h2>

<p>
An opening for a doctoral or post-doctoral position in the field of “Future Generation Wireless Device to Device (D2D), Machine-to-Machine (M2M) and/or Internet-of-Things (IoT) Communication Systems” is available. This position is in connection with an Indo-French project. The selected candidate will be based in France and financed through a CEFIPRA scholarship. The research work will be supervised by Inria in close collaboration with Alcatel Lucent Bell Labs, France and other partners of the project.</p>

<p>
During the recent years, there has been a lot of interest in the research community on different aspects of D2D and M2M communication systems and in technologies for IoT. Applications such as control of cyber physical systems and efficient peer to peer exchange of content between devices are being widely researched in the context of next generation wireless standards (LTE A, 5G, IETF protocols).</p>

<p>
It is expected that the trend will continue. This is illustrated by the recent incorporation of extended D2D and M2M related features in the LTE-A standard, by the visible drive for their native support in 5G systems and also by the fast growing development of IoT standards and applications through IETF, IEEE, and in vendor alliances. Convergence between D2D, M2M and IoT is natural and one exciting challenge would be to explore how to technically shape it.</p>

<p>
A non-exhaustive list of problem areas that could be explored within the technical framework of the proposed project is presented below:
<ul>
  <li>Protocol design for D2D, M2M, IoT wireless networks considering the constraints of:
    <ul>
      <li>Ultra-reliable communications,</li>
      <li>Massive deployments,</li>
      <li>Short range,</li>
      <li>Very low latency requirements,</li>
      <li>Heterogeneous technologies, devices and networks,</li>
      <li>...</li>
    </ul>
  </li>
  <li>Algorithms for protocols:
    <ul>
      <li>Device and route discovery (centralized or distributed),</li>
      <li>Routing (flat, hierarchical, reliable, ...),</li>
      <li>Interaction of coding and routing (cross-layering),</li>
      <li>Impact of antenna directivity, interference management, power control, physical channel behavior</li>
      <li>Resource allocation, scheduling,</li>
      <li>Using of features offered by new network architectures (virtualization, ICN, ...),</li>
      <li>...</li>
    </ul>
  </li>
</ul>
</p>

</p>
<h2>Technical Skills and Field of Interest:</h2>
<p>
Communication Networking, Digital Communications, Optimization Techniques, Applied Mathematics, Cellular networks, LTE standards, Wireless LANs/PANs systems (Near Field Communication, WiFi, 802.15.4, ...) ...
</p>


<h2>Qualifications and Background:</h2>
<p>
<ul>
  <li> Master Degree in one of the following majors: Telecommunications, Networking, Computer Science, Electrical Engineering.</li>
  <li> Strong organizational, communication and editorial skills in English.</li>
  <li> Strong Simulation skills: C, NS3, Matlab, ...</li>
  <li> Ability to work well in a team environment with a focus on knowledge sharing and collaboration.
</ul>
</p>

<h2>Contact</h2>
<p>
<ul>
  <li>Cedric Adjih (Cedric.Adjih [~at~] inria.fr)</li>
  <li>Amira Alloum (Amira.Alloum [~at~] alcatel-lucent.com)</li>
</ul>
</p>
